*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.landing{
  height: 100vh;
  width: 100vw;
  background: red;
  position: fixed;
}

.navbarContainer{
  height: 100px;
  width: 100vw;
  background: cornflowerblue;
  /* sticky */
  position: sticky;
  top: 0;
}

.navbar{
  display: flex;
  justify-content: space-around;
}
.footer{
  height: 300px;
  width: 100vw;
  background: cornflowerblue;
}

.sectionBody{
  height: calc( 100vh - 100px );
  min-height: 700px;
  width: 100vw;
  background: seagreen;
  border-bottom: 1px solid black;
}

.about{
  height: calc( 100vh - 400px );
  min-height: 700px;
  width: 100vw;
  background: indianred;
}

.magazine{
  width: 100vw;
  min-height: 700px;
  background: lightgreen;
}

.carLogoContainer{
  display: grid;
  grid-template-columns: repeat(8, 100px) ;
}
.carLogo{
  width: 80px;
  height: 100px;
  margin: 10px;
  background: tomato;
}
.carIcon{
  width: 80px;
  height: 80px;
  padding: 10px;
}


