*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.white{
  color: white
}
.blue{
  color: rgb(30, 113, 141);
}

.bgLine{
  position: relative;
  z-index: 1;
}
.bgLine:before {
  border-top: 2px solid rgb(97, 84, 84);
  content:"";
  margin: 0 auto; 
  position: absolute;
  top: 50%; left: 0; right: 0; bottom: 0;
  max-width: 75%;
  /* maybe media query later */
  z-index: -1;
}
.bgLine span { 
  background: white; 
  color: rgb(97, 84, 84);
  padding: 0 15px; 
}

/* landing Spinner */
.landing{
  min-height: 600px;
  /* background: white; */
}
.spinner{
  width: 200px;
  height: 130px;
}
.leftSpinner{
  background: url('https://wallpapercave.com/wp/wp5751029.jpg') no-repeat center center/ cover;
  animation: leftSpinner 2s ;
  position: absolute;
  top: 200px;
}
@keyframes leftSpinner {
  from {transform: translateX(100vw);}
  to {
    transform: translateX(50px) scaleX(-1);
  }
}
.rightSpinner{
  background: url('https://wallpapercave.com/wp/wp5751029.jpg') no-repeat center center/ cover;
  transform: scaleX(-1) ;
  animation: rightSpinner 2s ;
  position: absolute;
  top: 200px;
}
@keyframes rightSpinner {
  from {transform: translateX();}
  to {transform: translateX(calc(100vw - 250px));}
}

/* navbar */
.navbarContainer{
  /* height: 100px; */
  /* width: 100vw; */
  min-width: 1000px;
  background: rgb(52, 63, 82);
  /* sticky */
  position: sticky;
  top: 0;
  padding: 0 200px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}
.navItem{
  text-decoration: none;
  color: white;
}
.navItem:hover{
  color: black;
}
.footerContainer{
  min-width: 1000px;
  background: rgb(52, 63, 82);
  padding: 0 200px;
}
.footer{
display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
}
.innerList{
  list-style: none;
}
.footHead{
  text-decoration: none;
  color: white;
  font-weight: 800;
}
.footItem{
  text-decoration: none;
  color: white;
}
.footItem:hover{
  color: black;
}
.topHr{
  padding-top: 20px;
  border: none;
  border-bottom: white 1px solid;
}
.bottomHr{
  padding-top: 20px;
  border: none;
  border-top: white 1px solid;
}
.fooBottomCont{
  text-align: center;
  padding-bottom: 20px;
}

/* Not Found */
.notFound{
  min-height: 600px;
  /* background: white; */
}

/* about */
.aboutContainer{
  display: flex;
  min-width: 1000px;
  padding: 0 200px;
  min-height: 900px;
  /* background: aquamarine; */
}
.about{
  padding: 130px 100px;
  width: 50%;
}
.about h1{
  text-align: center;
}
.aboutImg{
  margin-top: 200px;
  background: url("https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat center center/ cover;
  width: 50%;
  max-height: 500px;
}

/* contact */
.contactContainer{
  min-height: 700px;
  min-width: 1000px;
  padding: 0 200px;
  /* background: aquamarine; */
}
.contact{
  padding: 100px;
}
.contactBgImg{
  height: 250px;
  background: url("https://images.unsplash.com/photo-1471479917193-f00955256257?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2048&q=80") no-repeat center center/ cover;
}
.contact h1{
  text-align: center;
  margin-bottom: 50px;
}
.contactBoxContainer{
  position: relative;
  text-align: center;
}
.contactBox1{
  position: absolute;
  width: 200px;
  top: -50px;
  left: calc(50% - 350px);
}
.contactBox2{
  position: absolute;
  width: 200px;
  top: -50px;
  left: calc(50% + 150px);
}
.leaveDetails{
  text-align: center;
  margin-top: 140px;
}

/* form */
.formContainer{
  min-height: 700px;
  min-width: 1000px;
  padding: 0 200px;
  /* background: aquamarine; */
}




















/* engine sections */
.sectionBody{
  height: calc( 100vh - 100px );
  min-height: 700px;
  width: 100vw;
  background: seagreen;
  border-bottom: 1px solid black;
}

/* magazine */
.magazine{
  width: 100vw;
  min-height: 700px;
  background: lightgreen;
}

/* car logos */
.carLogoContainer{
  display: grid;
  grid-template-columns: repeat(8, 100px) ;
}
.carLogo{
  width: 80px;
  height: 100px;
  margin: 10px;
  background: tomato;
}
.carIcon{
  width: 80px;
  height: 80px;
  padding: 10px;
}








@media only screen and (min-device-width: 1201px) and (max-device-width: 1700px) {
  .aboutContainer{
    flex-direction: column;
  }
  .about{
    padding: 30px 100px;
    width: 100%;
    min-height: 0px;
  }
  .aboutImg{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    min-height: 600px;
  }
  .contactBox1{
    top: -50px;
    left: calc(50% - 300px);
  }
  .contactBox2{
    top: -50px;
    left: calc(50% + 100px);
  }
}
@media only screen and (min-device-width: 801px) and (max-device-width: 1200px) {
  .aboutContainer{
    flex-direction: column;
  }
  .about{
    padding: 30px 100px;
    width: 100%;
    min-height: 0px;
  }
  .aboutImg{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    height: 400px;
  }
  .contactBox1{
    top: -50px;
    left: calc(50% - 220px);
  }
  .contactBox2{
    top: -50px;
    left: calc(50% + 20px);
  }
}
@media only screen and (min-device-width: 1px) and (max-device-width: 800px) {
  .aboutContainer{
    flex-direction: column;
  }
  .about{
    padding: 30px 100px;
    width: 100%;
    min-height: 0px;
  }
  .aboutImg{
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    height: 400px;
  }
  .rightSpinner{
    top: 100px;
  }
  .contactBox1{
    top: -50px;
    left: calc(50% - 220px);
  }
  .contactBox2{
    top: -50px;
    left: calc(50% + 20px);
  }
}